/* ==UserStyle==
@name e621 legibility
@namespace https://f3sw.gitlab.io
@version 0.1.0
@description Changes some text colours for improved legibility.
@homepageURL https://gitlab.com/F3SW/usercss-collection
@supportURL https://gitlab.com/F3SW/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("e621.net"), domain("e926.net") {
	/* lighten copyright tags */
	.category-3 a, .category-3 a:link, .category-3 a:visited, .ui-widget-content .category-3 a, .ui-widget-content .category-3 a:link, .ui-widget-content .category-3 a:visited, .ui-widget-content a.tag-type-3, .ui-widget-content a.tag-type-3:link, .ui-widget-content a.tag-type-3:visited, a.tag-type-3, a.tag-type-3:link, a.tag-type-3:visited {
		color: #CF1FDF;
	}



	/* lighten additions in tag diffs */
	.diff-list ins, .diff-list ins a {
		color: #009F00;
	}
}
