/* ==UserStyle==
@name E-Hentai zoom
@namespace https://f3sw.gitlab.io
@version 0.1.0
@description Shrinks images so nothing is cut off by the edge of the window.
@homepageURL https://gitlab.com/F3SW/usercss-collection
@supportURL https://gitlab.com/F3SW/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("e-hentai.org") {
	h1 {
		margin: 0.25em;
	}
	#img {
		max-height: 90vh !important;
		width: unset !important;
	}
}
