/* ==UserStyle==
@name FA focus
@namespace https://f3sw.gitlab.io
@version 0.1.0
@description Shrinks the header on user pages and stops overlays from covering posts.
@homepageURL https://gitlab.com/F3SW/usercss-collection
@supportURL https://gitlab.com/F3SW/usercss-collection/-/issues
@license GPL-3.0-or-later
==/UserStyle== */

@-moz-document domain("furaffinity.net") {
	/* don't draw over the top of image posts thank you */
	.news-block {
		position: relative;
	}



	/* shrink the enormous header on user pages */
	#header {
		height: 4em;
	}



	/* goodbye cookie consent banner */
	#cookie-notification {
		display: none;
	}
}
